<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv='pragma' content='no-cache' />
    <meta http-equiv='cache-control' content='no-cache' />
    <meta http-equiv='expires' content='0' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人机协同决策实验</title>
    <!-- addon -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/vue-3.1.4.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/procedure.css">
    <link rel="stylesheet" href="css/stage.css">
    <link rel="stylesheet" href="css/svo_test.css">
    <link rel="stylesheet" href="css/decision.css">
    <!-- scripts -->
    <script src="js/functions.js"></script>
</head>

<body>
    <div id="app">
        <div id="content">
            <div id="stage">
                <!-- <component v-for="item in stages[indStage].moveList[indMove]" :is="item">
                </component> -->
                <component :is="stages[indStage].moveList[indMove]">
                </component>
            </div>
        </div>
        <div id="footer">
            <div id="procedure">
                <template v-for="(item,index) in stages">
                    <div class="dot" :class="{current:index==indStage,past:index<indStage}" v-if="item.tipText!=''">
                        <span class="tiptext">{{ item.tipText }}</span>
                    </div>
                </template>
            </div>
        </div>
    </div>
</body>
<script>
    // 程序初始化
    var debugFlag = false;

    //系统决策表
    var systemDecisionMap = genSysDeciMap();
    function genSysDeciMap() {
        let sysDeciMap = [];
        let sysDeciSet = [];
        let systemCoopNum = [];
        //前11轮决策
        for (let i = 0; i < 11; i++) {
            systemCoopNum.push(i);
        }
        systemCoopNum = shuffle(systemCoopNum);
        for (let i = 0; i < 11; i++) {
            sysDeciSet = [];
            for (let j = 0; j < 10; j++) {
                if (j < systemCoopNum[i])
                    sysDeciSet.push(1);
                else
                    sysDeciSet.push(0);
            }
            sysDeciSet = shuffle(sysDeciSet);
            sysDeciMap.push(sysDeciSet);
        }
        //第12轮决策
        sysDeciSet = [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1];
        sysDeciMap.push(sysDeciSet);
        return sysDeciMap;
    }

    // 页面控制
    const stageList = genStageList();
    function genStageList() {
        let stageList = [
            {
                tipText: "0. 选择实验",
                moveList: [
                    "intro"
                ]
            }
        ];
        return stageList;
    }

    // 数据收集对象
    const dataCollect = genDataCollect();
    function genDataCollect() {
        let dataCollect = {
            number: undefined
        };

        return dataCollect;
    }
    
    // 全局控制app
    const app = Vue.createApp({
        data() {
            return {
                stages: stageList,
                indStage: 0,
                indMove: 0
            }
        },
        computed: {
            currentStageItem() {
                return this.stage[this.indStage].moveList[this.indMove];
            }
        },
        methods: {
            nextMove() {
                this.indMove++;
                if (this.indMove >= this.stages[this.indStage].moveList.length) {
                    this.indMove = 0;
                    this.indStage++;
                }
            },
            returnMove(stage,move) {
                this.indStage = stage;
                this.indMove = move;
            }
        }
    })
</script>

</html>

<!-- components -->

<!-- 实验介绍和基本信息 -->
<script type="text/x-template" id="intro">
    <div>
        <p class="title big">行为决策实验</p>
        <p class="description">
            欢迎您参与北航人因工程实验室的行为决策实验，
            本实验旨在探究自动驾驶情境下人的行为决策，
            您的答案没有正误之分，
            只需要您按照自己的理解进行选择即可！
        </p>
        <p class="description">
            本实验为匿名实验，
            您只需要在下方输入实验编号即可进入实验。
            （请确保您的实验编号正确，
            若您不记得编号请及时联系工作人员）
        </p>
        <div class="number">
            <span>请输入实验编号</span>
            <input type="text" v-model="number">
        </div>
        <input type="submit" value="练习实验" @click.stop="clickOk('practice')">
        <input type="submit" value="实验一" @click.stop="clickOk('exp1')">
        <input type="submit" value="实验二" @click.stop="clickOk('exp2')">
        <input type="submit" value="实验三" @click.stop="clickOk('exp3')">
    </div>
</script>
<script>
    app.component('intro', {
        data() {
            return {
                number: ""
            }
        },
        mounted() {
            if (typeof(Storage) !== "undefined") {
                this.number = sessionStorage["number"] || "";
            } else {
                this.number = "";
            }
        },
        template: '#intro',
        methods: {
            clickOk(event) {
                if (typeof(Storage) !== "undefined") {
                    sessionStorage["number"] = this.number;
                }
                setDataCollect("number",this.number);
                
                window.location.href = event+".html";
            }
        }
    })
</script>

<script>
    const vmapp = app.mount('#app');
</script>